[Unit]
Description=DAHDI

[Service]
ExecStart=/usr/share/dahdi/dahdi-ctrl start
ExecStop=/usr/share/dahdi/dahdi-ctrl stop
ExecReload=/usr/share/dahdi/dahdi-ctrl reload

[Install]
WantedBy=multi-user.target
